# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/smarthome/v15/Browse.VC.db
.vs/smarthome/v15/Browse.VC.opendb
.vs/smarthome/v15/ipch/AutoPCH/f58cab842ca4dd9b/MAIN.ipch
.vs/smarthome/v15/.suo
.vs/smarthome/v15/ipch/AutoPCH/27d961f8bf15b23c/CJSON.ipch
.vs/VSWorkspaceState.json
.vs/smarthome/v15/.suo
.vs/smarthome/v15/.suo
